@import url(constants.css);


.checkout-container {
    display: flex;
    justify-content: space-around;
    
}

.checkout-title {
    font-family: var(--ff-primary);
    font-size: 2rem;
    text-align: center;

}

.checkout-title span {
    margin-left: 0.5rem;
}

.checkout-items-container {
    overflow: hidden;
    transition: all 250ms ease-out;
    transform-origin: top; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkout-item {
    display: flex;
    align-items: center;
    width: 40rem;
    margin-bottom: 2rem;
}

.checkout-item img {
    width: 19.6875rem;
    max-height: 21.25rem;
    max-width: 100%;
    object-fit: cover;
}

.checkout-item-info {
    font-family: var(--ff-primary);
}

.checkout-item-info ul {
    list-style-type: none;
}


.active-items {
    transform: scaleY(1);
    opacity: 1;
}



/* styles for input for */

.checkout-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-fields {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.checkout-btn {
    margin-top: 2rem;
    border: none;
    background-color: var(--clr-primary);
    width: 100%;
    height: 2rem;
    color: var(--clr-light);
    font-family: var(--ff-primary);

}