@import url("constants.css");
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;800;900&display=swap');


.product__page {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

.image__display {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.display-image {
    width: 54.25rem;
    max-width: 100%;
    margin: auto;
}

.shoes__description {
    width: 46.125rem;
    max-width: 100%;
    margin: auto;
    padding: 0 1rem;
    /* background-color: blue; */
}


.shoes__info-attributes {
    font-family: var(--ff-primary);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.brand,
.name {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.nickname {
    font-size: 2rem;
    font-weight: var(--fw-light);
    color: var(--clr-text);
    margin-bottom: 3rem;

}

.name {
    font-weight: var(--fw-regular);
    color: var(--clr-text);
}



.action__btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.cart {
    width: 100%;
    height: 6rem;
    border-radius: 0.25rem;
    border: none;
    background-color: var(--clr-primary);
    font-family: var(--ff-primary);
    color: var(--clr-light);
    font-size: 1rem;
    font-weight: var(--fw-black);
    letter-spacing: 1.5px;
    cursor: pointer;
    margin-bottom: 3rem;

}

.unactive-cart {
    background-color: var(--clr-accent-two);
}

.sold-out-btn {
    background-color: var(--clr-dark);
    cursor: not-allowed;
}

.descriptions {
    width: 46.8125rem;
    margin: auto;
    max-width: 100%;

}

.descriptions-title {
    font-family: var(--ff-primary);
    font-size: 2rem;
    color: var(--clr-text);
    margin-bottom: 2rem;
}
.text {
    font-family: var(--ff-primary);
    line-height: 2rem;
    color: var(--clr-text);
    margin-bottom: 4rem;
}
.attributes {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.attributes ul {
    list-style-type: none;
    color: var(--clr-text);
    font-family: var(--ff-primary);
    font-size: 1rem;
    padding: 0;
}

.attributes__list-item {
    margin-bottom: 0.8rem;
    display: flex;
    justify-content: space-between;
}

.attributes__list-item:last-child {
    margin-bottom: 4rem;
}

.important-text {
    font-weight: var(--fw-black);
}
.attributes h2 {
    font-family: var(--ff-primary);
    margin-bottom: 1rem;
}

.license {
    font-family: var(--ff-primary);
}

@media (min-width: 93.125rem) {
    .product__page {
        flex-direction: row;
        justify-content: space-between;
    }
    .display-image {
        margin: 0;
    }

    .shoes__description {
        margin: 0;
        margin-top: 1rem;

        height: min-content;
        position: sticky;
        top: 1rem;
    }

}

@media (min-width: 110.625rem) {
    .product__page {
        flex-direction: row;
    }


    .display-image {
        margin: 0;
        margin-left: 5rem;
    }

    .shoes__description {
        margin: 0;
        margin-right: 5rem;
        margin-top: 1rem;

        height: min-content;
        position: sticky;
        top: 1rem;
    }

    .attributes-numbers {
        margin-right: 5rem;
    }
}