@import url("constants.css");



.catalog-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 29.1875rem));
    grid-template-rows: 2rem auto-fit;
    grid-column-gap: 9rem;
    grid-row-gap: 2rem;
    margin-top: 3rem;

    justify-content: center;
}

.product {
    margin-bottom: 2rem;
    position: relative;
}

.sold-out {
    width: 29.1875rem;
    max-width: 100%;
    height: 94.5%;
    background-color: rgba(119, 118, 118, 0.589);
    position: absolute;
    font-family: var(--ff-primary);
    font-weight: var(--fw-black);
    font-size: 2rem;
    text-align: center;
    pointer-events: none;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


.product img {
    width: 29.1875rem;  
    max-width: 100%;
    max-height: 29rem;
    object-fit: cover;
    cursor: pointer;
    opacity: 0;
    animation: picture-load 300ms ease 500ms;
    animation-fill-mode: forwards;
}

.product-img-placeholder {
    width: 29.1875rem;  
    max-width: 100%;
    height: 29rem;
    max-height: 100%;
    background-color: var(--clr-text);
    background-size: cover;
    background-position: center;
    animation: load-animation 500ms infinite;
}
@keyframes picture-load{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes load-animation {
    0% {
        background-color: #fff;
      }
      50% {
        background-color: var(--clr-text);
      }
      100% {
        background-color: #fff;
      }
}


.product-shoeInfo {
    display: flex;
    justify-content: space-between;
    font-family: var(--ff-primary);
}

.product-title {
    grid-column: 1 / -1;
    font-family: var(--ff-primary);
    color: var(--clr-text);
    text-transform: capitalize;
}


