@import url("constants.css");
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;800;900&display=swap');

html {
    font-size: 16px;
}
header {
    display: flex;
    background-color: var(--clr-dark);
    position: relative;
    width: 100%;
    z-index: 2;
}

nav {
    position: absolute;
    top: 100%;
    width: 100%;
    font-family: var(--ff-primary);
    background-color: var(--clr-dark);
    display: none;
    text-transform: uppercase;

}

.logo {
    width: 8rem;
    margin: auto;
}

.logo img {
    width: 8rem;
}

.list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.list-items{
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.list-link {
    text-decoration: none;
    color: var(--clr-light);
    position: relative;
}

.list-link-dropdown {
    color: var(--clr-light);
    margin-left: 0.25rem;
    cursor: pointer;
}




.list-link::after {
    content: '';
    height: 3px;
    display: block;
    background-color: var(--clr-primary);
    position: absolute;
    bottom: -0.75rem;
    left: 0;
    right: 0;
    transform: scale(0,1);
    transition: transform ease-out 300ms;
    transform-origin: right;
}

.list-link:hover::after {
    transform: scale(1,1);
    transform-origin: left;
}


.nav-shoes-list ul {
    list-style-type: none;
    overflow: hidden;
    height: 0;
    overflow-y: auto;
    transition: height 250ms ease-out;
    background-color: var(--clr-accent-two);
    color: var(--clr-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
 }

.shoes-list-item {
    cursor: pointer;
    width: min-content;
    padding: 0.25rem;
    position: relative;
    text-decoration: none;
    color: var(--clr-light);
    box-sizing: border-box;
}

.shoes-list-link {
    text-decoration: none;
    color: var(--clr-light)
}

.shoes-list-item::after {
    position: absolute;
    content: '';
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--clr-light);
    height: 2px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-out;
}

.shoes-list-item:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

ul.active {
    height: 7rem;
}


.nav-icons {
    position: absolute;
    right: 0;
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shopping-bag-link {
    text-decoration: none;
}


.material-icons-outlined {
    color: var(--clr-light);
    font-size: 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.material-icons-outlined:first-of-type {
    margin-right: 0.5rem;
}
.number-of-items {
    color: var(--clr-light);
    position: absolute;
    background: var(--clr-primary);
    font-family: var(--ff-primary);
    top: 0;
    right: 0;
    margin-top: 54%;
    margin-right: 4px;
    width: 1rem;
    text-align: center;
    border-radius: 50%;
    font-size: 0.75rem;
    height: 1rem;
}


.toggle-nav{
    display: none;
}
.toggle-nav:checked + nav {
    display: block;
}

.toggle-nav-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center; 
    cursor: pointer;
}

.toggle-nav-label span,
.toggle-nav-label span::before,
.toggle-nav-label span::after {
    display: block;
    background-color: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.toggle-nav-label span::before,
.toggle-nav-label span::after {
    content: '';
    position: absolute;
}

.toggle-nav-label span::before {
    top: 7px;
}
.toggle-nav-label span::after {
    bottom: 7px;
}

/* styling for main */

.welcome__image {
    height: 39rem;
    /* background-image: url(../../public/pictures/shoes/waveRunnerSample.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    position: relative;
}


.welcome__image-info{
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: var(--ff-primary);
    color: var(--clr-light);

    display: flex;
    flex-direction: column;
}



.welcome__image-info h1 {
    font-size: 2rem;
    font-weight: var(--fw-bold);
}

.welcome__image-info p {
    font-size: 2rem;
    font-weight: var(--fw-light);
}

.product__catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product__catalog-all-shoes {
    position: relative;

}
.product__catalog-all-shoes img {
    width: 48rem;
    max-width: 100%;
    display: block;
    margin-bottom: 1em;
}

.collection-image-placeholder {
    width: 100vw;
    height: 100vh;
    max-width: 56.0625rem;
    max-height: 59.875rem;
    background-color: var(--clr-accent-two);
    animation: load-animation 1000ms infinite;
}

@keyframes load-animation {
    0% {
        background-color: #fff;
      }
      50% {
        background-color: var(--clr-text);
      }
      100% {
        background-color: #fff;
      }
}

.buy-button {
    position: absolute;
    bottom: 0;
    margin-left: 1rem;
    margin-bottom: 2rem;
    font-family: var(--ff-primary);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}



.product__catalog-name {
    color: var(--clr-dark);
    font-size: 1rem;
    text-transform: capitalize;
}


.btn {
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    color: var(--clr-light);
}

.accent {
    background-color: var(--clr-accent-two);
}


.blue {
    background-color: var(--clr-accent-one);
}

.collection-link {
    color: var(--clr-light);
    text-decoration: none;

}

.title{
    color: var(--clr-dark);
    font-family: var(--ff-primary);

    padding: 3rem 0.5rem;
    font-size: 2rem;
    font-weight: var(--fw-regular);

} 


.catalog {
    display: flex;
    overflow: auto;
    white-space: nowrap;
}
.card {
    margin-right: 3rem;
    margin-bottom: 2rem;
    position: relative;
    /* margin: auto; */
}

/* .card::after {
    content: '';
    background-color: var(--clr-accent-two);
    position: absolute;
    bottom: -10px;
    color: var(--clr-accent-two);
    left: 0;
    right: 0;
    height: 4px;
    width: 20rem;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-out;
    place-content: center;

}

.card:hover::after {
    transform: scaleX(1);
    transform-origin: left;
} */

.card img{
    height: 23.8125rem;
    width: 20rem;
    cursor: pointer;
    object-fit: cover;
}

.catalog-info {
    display: flex;
    justify-content: space-between;
    width: 20rem;
    font-family: var(--ff-primary);

}

.card-price {
    color: var(--clr-price);
}

/* end of styling for main */

/* start of styling for footer */

footer {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-dark);
    margin-top: 5rem;
}

.footer-logo {
    width: 5rem;
    margin: 1rem 2rem
}

.footer__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.footer_contact {
    width: 60%;
    max-width: 25rem;
    margin-left: 1rem;
}

.socials {
    width: 40%;
    display: flex;
    margin-left: 1rem;
}
.footer__info-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;

    justify-content: space-between;
}
.icons {
    color: var(--clr-light);
    font-size: 1.5rem;
    margin-right: 1rem;
}

.footer_info-list-link {
    text-decoration: none;
    color: var(--clr-price);
    font-family: var(--ff-primary);
}

.footer-on-success {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* start of styling for error message */

.error-container {
    width: 100%;
    position: absolute;
    font-family: var(--ff-primary);
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    
}

.error-card {
    background-color: var(--clr-primary);
    padding: 1rem 4rem;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    transform: translateY(-40px);
    transition: transform 250ms ease-in, opacity 250ms ease-in ;
    opacity: 0;
}

.error-card h1 {
    color: #8B1718;
    padding: 0;
    margin: 0;
    max-width: 27rem;
}

.error-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    color: #8B1718;
    margin-top: 0.2rem;
    transition: color 200ms ease;
}

.error-close-btn:hover {
    color: var(--clr-light)
}

.active-error {
    transform: translateY(0);
    opacity: 1;
}


/* end of styling for error message */


/* start of syling for footer */

footer {
    padding: 1rem;
    font-family: var(--ff-primary);
}

.logo-footer img {
    width: 5rem;
}

.footer-info {
    display: flex;
    justify-content: space-between;
}

.footer-contact-list {
    display: flex;
    list-style-type: none;
    padding: 0;

}

.footer-contact-list li {
    margin-right: 1rem;
}

.footer-contact-list a {
    text-decoration: none;
    text-transform: capitalize;
    color: var(--clr-text);
}

.footer-contact-list a:hover {
    text-decoration: underline;
    color: var(--clr-light);
}

.footer-socials li svg {
    cursor: pointer;
}
/* start of media query's for headers and for the main */

@media (min-width: 50rem) {

    /* start of query styles for header  */

    .toggle-nav-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px,3fr) 1fr 1fr;

    }

    .logo {
        grid-column: 1 / 2;
    }

    nav {
        all: unset;
        grid-column: 3 / 5;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        justify-content: center;
        font-family: var(--ff-primary);
    }

    .list {
        display: flex;
        font-size: 1.25rem;
        width: 80%;
        margin-right: 5rem;
        justify-content: space-around;
        font-weight: var(--fw-bold);
    }

    .list-items {
        margin: 0;
    }

    .nav-shoes-list ul {
        height: 7rem;
        opacity: 0;
        position: absolute;
        padding: 0 2rem;
        border-radius: 0.25rem;
        transform: translateY(-10px);
        transition: all 250ms ease-in;
        width: 14.375rem;
        height: 15.875rem;
        justify-content: space-around;
        font-weight: var(--fw-regular);
    }

    ul.active {
        opacity: 1;
        transform: translateY(15px);
    }

    .nav-icons {
        grid-column: 5 / 6;
        margin-right: 3em;
        /* background-color: blue; */
        padding: 0 1.5rem;
    }

    .shopping-bag {
        position: relative;
    }
    .number-of-items {
        position: absolute;
        color: var(--clr-light);
        font-family: var(--ff-primary);
        top: -0.7rem;
        right: -0.8rem;
        background-color: var(--clr-primary);
        width: 1.5rem;
        height: 1.5rem;
        text-align: center;
        border-radius: 50%;
        margin-top: 0;
        font-size: 1rem;

    }

    /* end of query styles for header */




    /* start of query styles for main 2 starter pictures  */

    .product__catalog {
        flex-direction: row;
        justify-content: space-around;
    }

    .product__catalog img {
        width: 56.0625rem;
    }

    .product__catalog-all-shoes:first-of-type {
        margin-left: 2rem;
    }
    .product__catalog-all-shoes:last-of-type {
        margin-right: 2rem;
    }

    


    /* end of query styles for main 2 starter pictures  */


    /* start of query styles for product page cards */  

    .product__page-card {
        margin-left: 2rem;
    }

    .title {
        padding: 4rem 0;
        margin-left: 2rem;
    }

    /* end of query styles for product page cards */
}


@media (min-width: 60rem) {
    .product__catalog-all-shoes:first-of-type {
        margin-left: 0;
    }
    .product__catalog-all-shoes:last-of-type {
        margin-right: 0;
    }

    .welcome__image-info {
        margin-bottom: 2rem;
        background: none;
    }
}



